/*
Theme Name: Robustbd
Theme URI: http://www.v16.com
Description: Robust wordpress theme
Version: 1.0
Author: Mamun
Author URI: http://wwww.v16.com
Tags: Robust, Robust wordpress theme
*/
/*-----------------
1. Google font
------------------*/
@import url('https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700');

/*-------------------
2. Theme Default CSS
--------------------*/

.alignleft {
    float: left;
    margin-right: 15px;
}

.alignright {
    float: right;
    margin-left: 15px;
}

.aligncenter {
    display: block;
    margin: 0 auto 15px;
}

.fix {
    overflow: hidden;
}

a {
    text-decoration: none !important;
    outline: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    color: #303030;
}

.btn.focus,
.btn:focus,
.btn:hover,
input:focus,
button:focus,
a:focus,
a:hover {
    text-decoration: none;
    outline: none;
    color: inherit;
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    font-size: 40px;
}

p span,
h1 span,
h2 span,
h3 span,
h4 span,
h5 span,
h6 span {
    color: #2fccd0;
}

html,
body {
    height: 100%
}

body {
    font-family: 'Poppins', sans-serif !important;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.6;
    color: #606060 !important;
}

/* Remove Chrome Input Field's Unwanted Yellow Background Color */

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus {
    -webkit-box-shadow: 0 0 0px 1000px white inset !important;
}

#maps {
    width: 100%;
    height: 500px;
}