/* BEGIN max width 1200px */
@media (max-width: 1200px) {

}

/* END max width 1200px */

/* BEGIN min width 1025px */
@media (min-width: 1025px) {

}

/* END min width 1025px */

/* BEGIN max width 1024px */
@media (max-width: 1024px) {

}

/* END max width 1024px */

/* BEGIN min width 992px max width 1200 */
@media (min-width: 992px) and (max-width: 1200px) {
    .navbar-nav .nav-link {
        font-size: 15px !important;
    }
}

/* END min width 992px max width 1200 */

@media (min-width: 992px) {
    .navbar-expand-lg .navbar-nav .nav-link {
        padding-right: 10px;
        padding-left: 10px;
    }

    .navbar-light .navbar-nav .nav-link:hover {
        color: #E84D1C;
        outline: 0;
        transition: all .3s ease-in-out;
        -webkit-transition: all .3s ease-in-out;
        -moz-transition: all .3s ease-in-out;
        -o-transition: all .3s ease-in-out;
    }

    .navbar-light .navbar-nav .nav-link:before {
        content: '';
        position: absolute;
        left: 10%;
        bottom: -3px;
        width: 80%;
        height: 3px;
        background-color: #E84D1C;
        visibility: hidden;
        -webkit-transform: scaleX(0);
        transform: scaleX(0);
        -webkit-transition: all 0.3s ease-in-out;
        -moz-transition: all 0.3s ease-in-out;
        -o-transition: all 0.3s ease-in-out;
        transition: all 0.3s ease-in-out;
    }

    .navbar-light .navbar-nav .nav-link:hover:before {
        visibility: visible;
        -webkit-transform: scaleX(1);
        transform: scaleX(1);
    }

}

@media (min-width: 991px) {
    .pre-header {
        position: relative !important;
        width: 100% !important;
        z-index: 9999 !important;
        top: 0 !important;
    }

    .header {
        width: 100% !important;
    }

    .header {
        /*position: relative;*/
        /*top: 0;*/
        /*left: auto;*/
        /*bottom: auto;*/
        /*z-index: 9;*/
        width: 100% !important;
        transition: all 0.5s ease-in;
        -moz-transition: all 0.5s ease-in; /* Firefox 4 */
        -webkit-transition: all 0.5s ease-in; /* Safari and Chrome */
        -o-transition: all 0.5s ease-in; /* Opera */
        -ms-transition: all 0.5s ease-in; /* Explorer 10 */
    }
}

@media (max-width: 991.98px) {
    .navbar-expand-lg > .container, .navbar-expand-lg > .container-fluid {
        padding-right: 15px !important;
        padding-left: 15px !important;
    }

    .navbar-light .navbar-brand img {
        width: 60% !important;
        height: 50% !important;
    }

    .btn.btn-link.active:hover, .btn.btn-link {
        min-width: 100px !important;
        padding: 5px 30px !important;
    }
}

@media (max-width: 992px) {
    .services-block {
        margin-top: 0 !important;
    }
}

/* BEGIN max width 992px */
@media (max-width: 992px) {
    .our-partners .owl-buttons {
        left: -10px;
    }

    .carousel img {
        width: 100%;
    }

    .our-partners .owl-carousel {
        margin-left: -2px;
    }

    .our-partners .owl-carousel {
        padding-top: 30px;
    }

    .our-partners .owl-buttons {
        top: 0;
        left: -3px !important;
    }

}

/* END max width 992px */

/* BEGIN max width 768px */
@media (max-width: 768px) {
    .pre-header .pull-right {
        float: left !important;
        text-align: left !important;
    }

    .pre-header .pull-right li:first-child {
        padding-left: 0;
    }

    .pagination {
        float: left !important;
        padding-top: 10px;
    }

    .pagination > li {
        margin-left: 0;
        margin-right: 5px;
    }

    .services-block {
        padding-bottom: 20px;
    }

    .services-block .item {
        border: none;
        margin-bottom: 50px;
    }

    .choose-us-block .img-responsive {
        margin: 0 auto;
    }

    .footer-site-info {
        text-align: center !important;
    }

    .social-menu {
        margin-bottom: 20px !important;
        text-align: center;
    }

    .social-menu a {
        float: none !important;
    }

    .pre-header li {
        display: block !important;
        border: none !important;
        padding: 0 !important;
        margin-bottom: 3px !important;
    }
}

/* END max width 767px */

/* BEGIN max width 600px */
@media (max-width: 600px) {

}

/* END max width 600px */

/* BEGIN max width 480px */
@media (max-width: 480px) {
    .pre-header .list-inline li {
        display: block !important;
        border: none;
        margin-bottom: 10px;
        padding: 0;
    }

    .pre-header .col-md-6 {
        float: left !important;
    }

    .pre-header .additional-nav {
        float: right !important;
        text-align: right !important;
    }
}

/* END max width 480px */

/* BEGIN max width 450px */
@media (max-width: 450px) {

}

/* END max width 450px */

/* BEGIN max width 405px */
@media (max-width: 405px) {

}

/* END max width 405px */

/* BEGIN max width 390px */
@media (max-width: 390px) {

}

/* END max width 390px */

/* BEGIN max width 330px */
@media (max-width: 330px) {

}

/* END max width 330px */

/* BEGIN max width 320px */
@media (max-width: 320px) {
    .site-logo {
        margin-right: 0;
    }
}

/* END max width 320px */