/* General body settings */
body {
    color: #3e4d5c;
    direction: rtl;
    font: 400 13px 'Open Sans', Arial, sans-serif;
    background: #fff;
}

/***
Fix link outlines after click
***/
a {
    color: #E03233;
}

a, a:focus, a:hover, a:active {
    outline: 0;
    text-decoration: none;
}

a:hover {
    color: #E03233;
    text-decoration: underline;
}

ul {
    margin: 0;
    padding: 0;
}

/***
Misc tools
***/

.tll {
    text-align: left;
}

.tlr {
    text-align: right;
}

.tlc {
    text-align: center;
}

.pull-right {
    float: right !important;
}

.pull-left {
    float: left !important;
}

.no-padding {
    padding: 0 !important;
}

.no-margin {
    margin: 0 !important;
}

.no-bottom-space {
    padding-bottom: 0 !important;
    margin-bottom: 0 !important;
}

.no-top-space {
    padding-top: 0 !important;
    margin-top: 0 !important;
}

.no-space {
    margin: 0 !important;
    padding: 0 !important;
}

.no-text-shadow {
    text-shadow: none !important;
}

.no-border {
    border: none !important;
}

.no-bg {
    background: none !important;
}

.padding-top-5 {
    padding-top: 5px !important;
}

.padding-top-10 {
    padding-top: 10px !important;
}

.padding-top-15 {
    padding-top: 15px !important;
}

.padding-top-20 {
    padding-top: 20px !important;
}

.padding-top-25 {
    padding-top: 25px !important;
}

.padding-top-30 {
    padding-top: 30px !important;
}

.padding-top-35 {
    padding-top: 35px !important;
}

.padding-top-40 {
    padding-top: 40px !important;
}

.padding-top-45 {
    padding-top: 45px !important;
}

.padding-top-50 {
    padding-top: 50px !important;
}

.padding-top-60 {
    padding-top: 60px !important;
}

.margin-bottom-0 {
    margin-bottom: 0 !important;
}

.margin-bottom-5 {
    margin-bottom: 5px !important;
}

.margin-bottom-10 {
    margin-bottom: 10px !important;
}

.margin-bottom-15 {
    margin-bottom: 15px !important;
}

.margin-bottom-20 {
    margin-bottom: 20px !important;
}

.margin-bottom-25 {
    margin-bottom: 25px !important;
}

.margin-bottom-30 {
    margin-bottom: 30px !important;
}

.margin-bottom-35 {
    margin-bottom: 35px !important;
}

.margin-bottom-40 {
    margin-bottom: 40px !important;
}

.margin-bottom-50 {
    margin-bottom: 50px !important;
}

.margin-bottom-60 {
    margin-bottom: 60px !important;
}

.margin-bottom-65 {
    margin-bottom: 65px !important;
}

.margin-top-10 {
    margin-top: 10px !important;
}

.margin-top-60 {
    margin-top: 60px !important;
}

.margin-top-120 {
    margin-top: 120px !important;
}

.margin-left-0 {
    margin-right: 0 !important;
}

.margin-right-0 {
    margin-left: 0 !important;
}

.margin-right-20 {
    margin-left: 20px !important;
}

.margin-left-20 {
    margin-right: 20px !important;
}

.margin-0 {
    margin: 0 !important;
}

.padding-0 {
    padding: 0 !important;
}

.padding-left-0 {
    padding-right: 0 !important;
}

.padding-right-0 {
    padding-left: 0 !important;
}

.padding-right-30 {
    padding-left: 30px !important;
}

.padding-bottom-10 {
    padding-bottom: 10px !important;
}

.padding-bottom-20 {
    padding-bottom: 20px !important;
}

.padding-bottom-30 {
    padding-bottom: 30px !important;
}

.padding-bottom-40 {
    padding-bottom: 40px !important;
}

.padding-bottom-50 {
    padding-bottom: 50px !important;
}

.padding-bottom-60 {
    padding-bottom: 60px !important;
}

.padding-bottom-70 {
    padding-bottom: 70px !important;
}

.margin-right-10 {
    margin-left: 10px !important;
}

.content h1, .content h2 {
    font: 400 37px "PT Sans Narrow", Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.bg-white {
    background-color: #fff !important;
}

.bg-gray {
    background-color: #f6f6f6 !important;
}

.content h1 strong, .content h2 strong, .content h3 strong, .content h4 strong {
    color: #C20000;
    font-weight: 300;
}