html, body {
    color: #434242;
    font-family: 'Open Sans', sans-serif !important;
    height: 100%;
    position: relative;
}

body {
    background: #F3EFE0;
    font-size: 15px;
    line-height: 1.64;
}

a {
    color: #E85425;
}

a:hover {
    color: #E85425;
}

ul {
    margin: 0 !important;
    padding: 0 !important;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, strong, b {
    font-family: 'Rubik', sans-serif !important;
    margin: 0 0 10px;
}

h1, h4 {
    font-weight: 700;
    margin-bottom: 10px;
}

h2, h3 {
    font-weight: 300;
    color: #22A39F;
}

h2 {
    font-size: 54px;
    text-align: center;
}

h3 {
    font-size: 28px;
}

.content h1, .content h2 {
    font: 400 37px "PT Sans Narrow", Arial, sans-serif;
    margin: 0 0 10px;
    text-transform: uppercase;
    text-align: center;
}

/* Navigation block */
.navbar {
    box-shadow: 0 1px 3px #ddd;
    background: #fff;
    border-radius: 0;
    margin-bottom: 23px;
    z-index: 999;
    position: relative;
}

/* Services block */
.services-block {
    background: #f6f6f6;
    padding: 60px 0 70px;
    margin-top: 120px;
}

.services-block .row {
    padding-top: 44px;
}

.services-block .item {
    border-left: solid 1px #e8e7e7;
    padding-top: 9px;
}

.services-block .col-md-3:first-child {
    border-left: none;
}

.services-block .fa {
    background: #E03233;
    color: #fff;
    width: 99px;
    height: 99px;
    line-height: 1;
    border-radius: 50%;
    position: relative;
    margin-bottom: 29px;
    transition: transform .5s ease-in-out;
    -webkit-transition: transform .5s ease-in-out;
    -moz-transition: transform .5s ease-in-out;
    -o-transition: transform .5s ease-in-out;
    cursor: pointer;
}

.services-block .fa:hover {
    transform: scale(1.1);
}

.services-block .fa:after {
    bottom: -8px;
    width: 0;
    height: 0;
    right: 50%;
    margin-right: -9px;
    z-index: 2;
    content: " ";
    display: block;
    position: absolute;
    border-top: 9px solid #E03233;
    border-left: 9px solid transparent;
    border-right: 9px solid transparent;
}

.services-block .fa {
    font-size: 38px;
    padding: 35px 0 0;
}

.services-block p {
    margin-bottom: 5px;
}

/* Choose us block */
.choose-us-block {
    padding-top: 60px;
}

.choose-us-block h4 {
    margin-bottom: 35px;
}

.choose-us-block h4 a {
    color: #1ea9e3;
}

.choose-us-block .panel-group {
    padding-top: 50px;
}

.choose-us-block .panel-default {
    border-radius: 0 !important;
    border: none;
    background: none;
    margin-bottom: 0 !important;
    padding-bottom: 14px;
}

.choose-us-block .panel-default > .panel-heading {
    border: none;
    background: none;
    padding: 0;
}

.choose-us-block .panel-default > .panel-heading + .panel-collapse .panel-body {
    border: none;
    padding: 0 0 0 32px;
}

.choose-us-block .panel-default h5 {
    font: 300 19px "Open Sans", Arial, sans-serif;
    padding: 0;
    margin: 0 0 5px;
}

.choose-us-block .panel-default .accordion-toggle:before {
    content: "";
    width: 21px;
    height: 21px;
    display: inline-block;
    background: #C20000 url(../frontend/img/toggle-icons.png) no-repeat 6px 10px;
    border-radius: 50% !important;
    margin-right: 10px;
    position: relative;
    top: 4px;
}

.choose-us-block .panel-default .collapsed:before {
    background: #495764 url(../frontend/img/toggle-icons.png) no-repeat 6px -148px;
}

.choose-us-block .panel-default .panel-title:hover .collapsed:before {
    background-color: #C20000;
}

.choose-us-block .panel-default .accordion-toggle, .choose-us-block .panel-default .accordion-toggle:focus, .choose-us-block .panel-default .accordion-toggle:hover, .choose-us-block .panel-default .accordion-toggle:active {
    color: #C20000 !important;
    text-decoration: none;
}

.choose-us-block .panel-default .collapsed {
    color: #5f6f7e;
}

/* Pre Header */

.pre-header {
    color: #616b76;
    border-bottom: 1px solid #eee;
    padding-top: 10px;
    line-height: 1.2;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #fff;
    min-height: 35px;
}

.pre-header a {
    color: #616b76;
}

.pre-header a:hover {
    color: #E02222;
}

.pre-header a:focus {
    text-decoration: none;
}

.pre-header li {
    padding-left: 11px;
    padding-right: 15px;
    border-right: solid 1px #d8d8d8;
    display: inline-block;
}

.pre-header li:last-child {
    border: none;
}

.additional-shop-info li:first-child {
    padding-left: 0;
}

.additional-nav li:last-child {
    padding-right: 0;
}

.pre-header .fa {
    margin-right: 4px;
}

.our-clients {
    background: #F6F6F6;
    position: relative;
    padding: 30px 0 !important;
}

.navbar-nav .nav-link {
    font-size: 17px !important;
    position: relative;
    transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    -moz-transition: all .4s ease-in-out;
}

.product-block {
    background: #f6f6f6;
    padding-top: 60px;
    position: relative;
}

.product-block .item {
    position: relative;
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.img-responsive {
    display: block;
    max-width: 100%;
    height: auto;
}

.product-block .item > a {
    /*background: rgba(229, 74, 26, 0.85);*/
    background: #E03233;
    opacity: 0.85 !important;
    filter: alpha(opacity=85);
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}

.product-block .item > a {
    /*background: rgba(229, 74, 26, 0.85);*/
    background: #E03233;
    opacity: 0.85 !important;
    position: absolute;
    left: 0;
    bottom: -100%;
    width: 100%;
    height: 100%;
    text-transform: uppercase;
    transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -webkit-transition: all 0.5s ease;
    color: #fff;
}

.product-block .item strong {
    font: 400 17px/1.2 "Open Sans", Arial, sans-serif;
    display: block;
    margin-bottom: 4px;
}

.product-block .item em {
    font: 300 13px "Open Sans", Arial, sans-serif;
    display: block;
    margin-bottom: 10px;
}

.product-block .item b {
    font-weight: 300;
    font-size: 12px;
    line-height: 1;
    display: inline-block;
    border: solid 1px #fff;
    padding: 8px 15px 7px;
}

.product-block .item:hover > a {
    bottom: 0;
}

.inner-page-container .pre-header, .inner-page-container .header {
    position: inherit !important;
}

.navbar-light .navbar-nav .nav-link {
    color: #333333 !important;
}

.btn-outline-success {
    color: #E03233 !important;
    border-color: #E03233 !important;
}

.btn-outline-success:hover {
    color: #fff !important;
    background-color: #E03233 !important;
    border-color: #E03233 !important;
}